
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="p-1 text-left rounded mb-3 col-lg-12 bg-secondary text-white">
            <strong style="padding-left:5px"> Cesiones </strong>
        </div>
        <!--

        <label>
            Mostrar
            <select>
                <option value="TablaCesiones"></option>
            </select>
        </label>


        <div class="row col-6 offset-9">
            <label>Buscar:</label> &nbsp;&nbsp;
            <input type="search" name="txtBuscarCesion" value="" />
        </div>


    <br />
    -->
        <table id="TablaCesiones" class="table">



            <thead class="thead-dark">
                <tr>
                    <th>Documento</th>
                    <th>Folio</th>
                    <th>Fecha Emisión</th>
                    <th>Fecha de Cesión</th>
                    <th>Cesionario</th>
                    <th>Envio</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                    <th>Opciones</th>
                </tr>

            </thead>


        </table>

    </div>

