
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="p-1 text-left rounded mb-3 col-lg-12 bg-secondary text-white">
        <strong style="padding-left:5px"> Documentos Emitidos </strong>
    </div>
   
    <table id="TablaVentas" class="table">



        <thead class="thead-dark">
            <tr>
                <th>Cliente</th>
                <th>Documento</th>
                <th>Folio</th>
                <th>Emisión</th>
                <th>ID Envio</th>
                <th>Verificacion S.I.I</th>
                <th>Respuesta Cliente</th>
                <th>Opciones</th>
            </tr>

        </thead>


    </table>

</div>